<template>
  <div class="my-course row no-gutters justify-content-between margin-kidogo">
    <div class="col-7 preview-img">
      <p
        style="
          background-color: rgba(210, 234, 219, 1);
          color: rgba(45, 48, 71, 1);
          padding: 4px;
          font-size: 13px;
          padding-left: 10px;
          margin-top: 21px;
        "
      >
        Course Progress {{ completed }}/ {{ compulsory }} compulsory modules
        completed
      </p>
    </div>
    <div class="col-5 course-title">
      <p style="color: #fff; padding: 10px; font-size: 13px">
        Keep it up, you’re doing great
        <i class="fa fa-fire" aria-hidden="true" style="color: #ec5300"></i>
      </p>
    </div>

    <div class="col-10">
      <progress-bar
        :val="value"
        :size="size"
        :text="string"
        :text-position="position"
        :text-fg-color="color"
      ></progress-bar>
    </div>
  </div>
</template>

<style>
.margin-kidogo {
  margin-top: -4rem !important;
  border-bottom: none !important;
}
.vue-simple-progress {
  background-color: #d2dfdc !important;
  border: 1px solid #21aa55;
  z-index: 1 !important;
}
.vue-simple-progress-bar {
  background-color: #21aa55 !important;
  border: 1px solid #21aa55;
}

@media (max-width: 767px) {
  .margin-kidogo {
    margin-top: -2rem !important;
    border-bottom: none !important;
  }
}
</style>

<script>
import Vue from "vue";
import ProgressBar from "vue-simple-progress";

export default {
  components: {
    ProgressBar,
  },
  data: function () {
    return {
      more: false,
    };
  },
  props: [
    "compulsory",
    "completed",
    "size",
    "value",
    "string",
    "position",
    "color",
    "image",
    "role",
  ],
  methods: {
    toggleMore: function (e) {
      this.more = !this.more;
    },
  },
  computed: {
    actionType: function () {
      if (this.compulsory == 0) {
        return "failed";
      }
      if (this.compulsory == 1) {
        return "okay";
      }
    },
  },
};
</script>
