<template>
  <form method="GET" id="courseFilterForm">
    <div class="row courses-filter" style="margin-top: 0">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 form-group">
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle following"
            type="button"
            data-toggle="dropdown"
          >
            + Group Requests &nbsp;<span> {{ requests }}</span>
          </button>
          <ul class="dropdown-menu">
            <span class="dropdown-menu-arrow"></span>

            <li v-if="!requet.length">
              <p><span class="drop-name">No requests found</span></p>
            </li>
            <li v-for="(c, index) in requet" class="item" :key="index">
              <p>
                <span class="drop-name">{{ c.name }}</span>
                <span class="drop-link"
                  >&nbsp;&nbsp;<a
                    v-bind:href="'/profile/myGroup/accept/' + c.id + '/1'"
                    class="accept"
                    >Accept</a
                  >
                  <a
                    v-bind:href="'/profile/myGroup/accept/' + c.id + '/3'"
                    class="decline"
                    >Decline</a
                  ></span
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</template>

<style lang="scss" scoped>
.following {
  font-size: 14px;
  padding-top: 10px;
  color: #6bc7b8;
  span {
    font-size: 12px;
    vertical-align: super;
    background: #eb1a8a;
    color: #fff;
    border-radius: 50%;
    padding: 0 7px;
  }
}
.form-group {
  margin-bottom: 0rem !important;
}
.btn-primary {
  background-color: transparent !important;
  border: none;
  color: #6bc7b8;
}
.btn-primary:hover {
  background-color: transparent !important;
  border: none;
  color: #6bc7b8;
}
.btn-primary:focus {
  box-shadow: none;
}
.dropdown-toggle:focus {
  box-shadow: none !important;
}
.dropdown-toggle {
  background-color: transparent !important;
  border: none;
  color: #eb1a8a !important;
  font-size: 16px;
}
.dropdown-menu {
  width: max-content;
  li.item {
    padding: 5px;
    border-bottom: 0.9px solid #0000001a;
    p {
      margin: 0;
    }
  }
}
.dropdown-menu-arrow {
  top: -20px;
  left: 50%;
  width: 0;
  height: 0;
  position: absolute;
}

.dropdown-menu-arrow:after {
  border-bottom-color: #6bc7b8;
}
.dropdown-menu-arrow:before {
  border-bottom-color: #6bc7b8;
}
.drop-name {
  padding-left: 10px;
  color: #6bc7b8;
  font-size: 14px;
}

.drop-link {
  float: right;
  padding-right: 20px;

  .accept {
    color: #eb1a8a;
    padding-right: 10px;
    font-size: 15px;
  }
  .decline {
    color: #999999;
    font-size: 15px;
  }
}
</style>

<script>
export default {
  props: [
    "action_accept",
    "action_decline",
    "filter_image",
    "requests",
    "groupid",
  ],
  data() {
    return {
      form: {
        year: "",
        release: "",
        job_role: "",
        search: "",
      },
      requet: [],
    };
  },
  created() {
    //Set query params
    const urlParams = new URLSearchParams(window.location.search);
    //Convert to json
    this.getFollowRequests();
  },
  computed: {
    years: () => {
      const current = new Date().getFullYear();
      const years = [];
      for (let i = 0; i < 5; i++) {
        years.push(current - i);
      }
      return years;
    },
  },
  methods: {
    getFollowRequests() {
      axios
        .get("/profile/myGroup/followRequests/" + this.groupid)
        .then((response) => {
          this.requet = response.data.details;
        });
    },
  },
};
</script>
