<template>
  <div class="row no-gutters my-course">
    <div class="col-2">
      <img v-bind:src="image" alt="Course" class="preview-img">
    </div>
    <div class="col-8">
    <div class="course-title">
      <div class="title"><a target="_blank"  :href="link">{{ title }}</a></div>
      <div class="sub-title"> Starts: {{ date }}  | 230 people have enrolled</div>
        <div class="row">
        <p>{{ description }}</p>
        </div>
    </div>
    </div>
    <div class="col-2">
        <purchase-action
          mobile="0"
          :confirmed="confirmed"
          :action="action"
        ></purchase-action>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .my-course{
    padding: 1% 0;
    border-bottom: 1px solid #ccc;
  .preview-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding: 0 10%;
  }
  .course-title {
    text-align: left;
    .title {
      padding: 5px 0;
      a{
        font-size: 18px;
        color: #05B4CB;
      }
    }
    .sub-title{
      font-size: 14px;
      color: #999999;
    }
    .row {
    margin-bottom: 1%;
    margin-top: 1%;
    }
    .innerstats{
    border: 1px solid #DFF2F6;
    text-align: center;
      h5 {
        color: #23245F;
        font-size: 15px;
        padding-top: 5%;
      }
    }
  }
}
</style>


<script>
import PurchaseAction from "./PurchaseAction.vue";

export default {
  components: {
    PurchaseAction
  },
  data: function() {

  },
  props: [
    "title",
    "image",
    "date",
    "confirmed",
    "price",
    "action"
  ]
};
</script>
