<template>
  <a 
    class="btn-block" 
    v-bind:class="{ 'btn-orange-inverse': (myConfirm == 0), 'btn-orange-inverse-inverse': (myConfirm == 1) }" 
    v-on:click="toggle()">
    {{text}}
    <i class="fas fa-circle-notch fa-spin" v-if="processing"></i>
  </a>
</template>

<style lang="scss" scoped>
a {
  position: relative;
  i {
    position: absolute;
    right: 2%;
    top: 25%;
  }
}
</style>


<script>
export default {
  props: ["confirmed", "action"],
  data: function() {
    return {
      myConfirm: 0,
      processing: 0,
      text: ""
    };
  },
  mounted() {
    this.myConfirm = this.confirmed;
    this.text =
      this.myConfirm == 1 ? "Remove from Purchase" : "Add to Purchase";
  },
  methods: {
    toggle() {
      if (this.processing) {
        return;
      }
      this.processing = 1;
      axios
        .get(this.action)
        .then(response => {
          // Stop processing
          if (this.myConfirm == 1) {
            this.myConfirm = 0;
            this.text = "Add to Purchase";
          } else {
            this.myConfirm = 1;
            this.text = "Remove from Purchase";
          }

          this.processing = 0;
        })
        .catch(error => {
          this.processing = 0;
        });
    }
  }
};
</script>
