<template>
  <div class="share icon" data-toggle="tooltip" title="Share course" v-on:click="shareCourse()">
   Share <img src="/images/icons/share_icon.svg" alt="Share">
  </div>
</template>

<style lang="scss" scoped>
.share {
  cursor: pointer;
}
</style>


<script>
export default {
  props: ["email", "linkedin", "facebook", "twitter", "url"],
  data() {
    return {};
  },
  methods: {
    shareCourse() {
     
      //Set links
      $("#shareModal .email").attr("href", this.email);
      $("#shareModal .linkedin").attr("href", this.linkedin);
      $("#shareModal .facebook").attr("href", this.facebook);
      $("#shareModal .twitter").attr("href", this.twitter);
      $("#shareModal #shareUrl").val(this.url);
      //Open modal
      $("#shareModal").modal("toggle");
    }
  }
};
</script>
