<template>
    <transition name="modal-fade">
      <div class="modal-backdrop">
        <div class="modal "
          role="dialog"
          
        >
          <header
            class="modal-header"
            id="modalTitle"
          >
            <slot name="header">
             <h3 class="super_title"> Super Power</h3>
              <button
                type="button"
                class="close"
                @click="$emit('close')" 
    
              >
                  X
              </button>
            </slot>
          </header>
          <section
            class="modal-body"
            id="modalDescription"
          >
            <slot name="body">
               {{superpower}}
            </slot>
          </section>
        </div>
      </div>
    </transition>
  </template>

<style lang="scss" scoped>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width:30%;
    height:40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: auto;
  }

  .modal-dialog-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: unset !important;
     align-items: unset !important; 
    min-height: calc(40% - 1rem);
}

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: none;
    color: #CECECE;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    flex-direction: column;
    justify-content: flex-end;
  }

  .modal-body {
  position: absolute;
  padding:1rem ;
  padding-top: 5rem;
  font-size:16px;
  }

  .close{
    float:right;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #CECECE;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }

  .super_title{
    color:#F18A21;
  }
</style>

<script>
export default {
    name: 'Modal',
    props: ["superpower"],
   
  };
</script>