<template>
  <div class="row no-gutters my-course-mobile">
    <div class="col-12">
      <img v-bind:src="image" alt="Course" class="preview-img">
    </div>
    <div class="col-12">
    <div class="course-title container">
      <h3 class="title text-blue"><a target="_blank"  :href="link">{{ title }}</a></h3> 
      <div class="sub-title">
        <p> {{position}} </p>
      </div>
      </div>
    <div class="col-12">
      <div class="row no-gutters">
        <div class="col stats">
          <h6>Enrollment Date:</h6>
          <p>{{date}}</p>
        </div>
        <div class="col stats">
          <h6>Completion Date:</h6>
            <p>{{end}}</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col stats">
          <h6>Score:</h6>
          <div class="single-chart">
          </div>
          <p>{{progress}}</p>
        </div>
        <div class="col stats">
          <h6>Prev Score:</h6>
          <p>{{prevScore}}%</p>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-8 offset-md-2">
    <div class="achievements">
        <div
          v-for="achievement in achievements"
          v-bind:key="achievement.icon"
          class="achievement"
        >
          <img
            :src="'/images/achievements/'+achievement.icon"
            :alt="achievement.title"
            data-toggle="tooltip"
            data-placement="right"
            :title="achievement.title"
          >
        </div>
        </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .achievements{
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: justify;
      align-content: center;
      text-align: center;
    .achievement {    
      margin-left: 5%;
      text-align: center;
      img {
        cursor: pointer;
      }
    }
  }

.my-course-mobile {
    padding: 5%;
    border-bottom: 1px solid #cccc;
      .preview-img {
        overflow: hidden;
        height: 120px;
        width: 100%;
        padding: 0;
        object-fit: contain;
        object-position: left;
      }
  .sub-title{
    p{
    text-align: left;
    padding: 0;
    }
  }  
  .stats {
    h6{
      color: #23245F
    }
    p {
        text-align: left;
    padding: 0;
    }
  }
}



@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.2s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}
</style>


<script>
import CourseAction from "./CourseAction.vue";

export default {
  components: {
    CourseAction
  },
  data: function() {
    return {
      more: false
    };
  },
  props: [
    "title",
    "image",
    "date",
    "start",
    "end",
    "enrolled",
    "progress",
    "status",
    "position",
    "prevScore",
    "currentScore",
    "action"
  ],
  methods: {
    toggleMore: function(e) {
      this.more = !this.more;
    }
  },
  computed: {
    achievements: function() {
      const achieved = [];

      if (this.status == "Completed") {
        this.completed = true;
      }
      //console.log(this.status);

      //Finished course
      if ((this.completed) & (this.currentScore >= 0.8)) {
       achieved.push({
          icon: "Icon_Finished_Course.png",
          title: "You have completed a course successfully."
        });
      } else {
        achieved.push({
          icon: "Icon_Finished_Course_Grey.png",
          title: "You have not completed a course."
        });
      }

      return achieved;
    }
  }
};
</script>
