<template>
  <div class="add icon">
    
    <a v-if="!authenticated" class="processing" data-toggle="modal" data-target="#registerLoginModal">
      <img src="/images/icons/Add_to_Wishlist@2x.png" alt="Add" data-toggle="tooltip" title="Add to wishlist">
    </a>
    <a v-else-if="processing" class="processing" data-toggle="tooltip" title="Processing">
      <i class="fas fa-circle-notch fa-spin" v-if="processing"></i>
    </a>
    <a v-else-if="inCart" v-on:click="remove" data-toggle="tooltip" title="Remove from wishlist">
      <img src="/images/icons/Remove_from_Wishlist@2x.png" alt="Remove">
    </a>
    <a v-else v-on:click="add" data-toggle="tooltip" title="Add to wishlist">
      <img src="/images/icons/Add_to_Wishlist@2x.png" alt="Add">
    </a>
  </div>
</template>

<style lang="scss" scoped>
a {
  cursor: pointer;
}

.processing {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  color: #c3512f;
}
</style>


<script>
import axios from "axios";

const setCount = count => {
  if (count) {
    $(".wish").html(
      'Wishlist <span class="wish-count"><span>' + count + "</span></span>"
    );
  } else {
    $(".wish").html("Wishlist");
  }
};

const getCount = () => {
  if ($(".wish-count").length) {
    return parseInt(document.querySelector(".wish-count span").innerHTML);
  }
  return 0;
};

export default {
  props: ["authenticated","carted", "addAction", "removeAction"],
  data() {
    return {
      processing: 0,
      inCart: 0
    };
  },
  mounted() {
    this.inCart = this.carted;
  },
  methods: {
    add: function() {
      this.processing = 1;
      axios
        .get(this.addAction)
        .then(response => {
          //Increment value
          setCount(getCount() + 1);
          // Stop processing
          this.inCart = 1;
          this.processing = 0;
        })
        .catch(error => {
          this.processing = 0;
        });
    },
    remove: function() {
      this.processing = 1;
      axios
        .get(this.removeAction)
        .then(response => {
          //Decrement value
          setCount(getCount() - 1);
          // Stop processing
          this.inCart = 0;
          this.processing = 0;
        })
        .catch(error => {
          this.processing = 0;
        });
    }
  }
};
</script>